
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
}

.container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

p {
    color: #ccc;
    margin-bottom: 30px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button {
    padding: 12px 25px;
    color: #fff;
    background-color: #800080;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: #5a005a;
}

.logout {
    background-color: #ff4d4d;
}

.logout:hover {
    background-color: #cc0000;
}
