<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

    <div class="container">
        <h1>Добро пожаловать, {{ current_user.login }}!</h1>
        <p>Выберите один из разделов для продолжения работы:</p>
        <div class="button-container">
            <a href="{{ url_for('detection') }}" class="button">Детекция</a>
            <a href="{{ url_for('leaderboard') }}" class="button">Лидерборд</a>
            <a href="{{ url_for('showmyphotos') }}" class="button">Мои фото</a>
            <a href="{{ url_for('settings') }}" class="button">Настроки</a>
            <a href="{{ url_for('logout') }}" class="button logout">Выйти</a>
        </div>
    </div>

</body>
</html>
